<ul class="blog-authors">
    <li><h4>Contributors</h4></li>
    {% for user in authors %}
    <li><a href="{% url 'blog-index' %}?author={{user.id}}" rel="{{user.id}}"{% if active_author == user.id %} class="active"{% endif %}>{{user.get_full_name|default:user.username}}</a></li>
    {% endfor %}
</ul>
