
{% if links %}{% spaceless %}
<ul class="blog-link-list">
    <li><h4>Links</h4></li>
    {% for link in links  %}
    <li><a href="{{link.url}}" target="_blank">{{link.title}}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}{% endif %}

