@import 'settings';

// Styling for changed / unchanged forms
body.change-form form.is-change-form:not(.form--isChanged) {
    .submit-row {
        >input[type="submit"]:not(:hover) {
            // background-color: $gray-400;
            opacity: 0.4;
        }
    }
}

