@import 'settings';

$sidebar-width: 260px;

// Sidebar does not show when body.popup is true, e.g. for changelist selection popup.
.customadmin-SidebarNav {
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    width: $sidebar-width;
    padding-top: 74px;
    padding-bottom: 30px;
    background: $white;
    box-shadow: 0 2px 2px 0 rgba($black, 0.28),
    0 1px 5px 0 rgba($black, 0.26),
    0 2px 1px -1px rgba($black, 0.12);

    // sidebar visibility
    display: none;

    @media (min-width: $desktop-width) {
        display: block;
    }

    // Link styles
    a {
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 16px;
        line-height: 24px;
        color: $gray-900;
        text-decoration: none;
        cursor: pointer;

        &.active,
        &:hover {
            color: $blue-dark;
            background: $gray-100;
        }

        &:focus {
            outline: dotted 1px $gray-300;
        }

        .icon {
            position: relative;
            top: -2px;
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            font-size: 24px;
            margin-right: 24px;
        }
    }

    a.app-link {
        padding-left: 64px;

        &.active {
            background: $gray-800;
            color: $white;
        }
    }

    // Collapse
    .rc-collapse {
        &-anim-active {
            transition: height .2s ease-out;
        }

        & > &-item {
        }

        &-header {
            &:focus {
                outline: dotted 1px $gray-300;
            }
        }

        &-content {
            overflow: hidden;
            background: $white;

            &-inactive {
                display: none;
            }
        }
    }
}

body.SidebarNav--inactive,
body.popup,
body.login {
    .customadmin-SidebarNav {
        display: none;
    }
}

// Make room for the sidebar
body:not(.SidebarNav--inactive):not(.login):not(.popup) {
    #content,
    .breadcrumbs,
    .messagelist {
        @media (min-width: $desktop-width) {
            margin-left: $sidebar-width;
        }
    }

    .submit-row {
        @media (min-width: $desktop-width) {
            left: $sidebar-width;
            width: calc(100% - #{$sidebar-width});
        }
    }
}
