<ul class="submenu exhibition-dates dates-menu">
    <li>
        <a href="{% url 'exhibitions-exhibition-index' %}" rel="all">All</a>
    </li>
    {% for date in dates %}
    <li>
        <a href="{% url 'exhibitions-exhibition-index' %}?year={{date.year}}" rel={{date.year}}>{{date.year}}</a>
    </li>
    {% endfor %}
</ul>

