@import 'settings';
@import 'mixins';

.MenuEditorAppContainer {
    max-width: 1100px;
    font-size: 12px;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row-reverse;
    }

    .MenuEditorTree {
        flex-grow: 1;

        .rst__rowTitle {
            font-size: 13px;
            line-height: 1em !important;
            margin-bottom: 4px;
            overflow: hidden;
            max-width: 100%;

            @media (min-width: 1180px) {
                min-width: 300px;
                max-width: 300px;
            }

            @media (min-width: 1280px) {
                min-width: 400px;
                max-width: 400px;
            }
        }

        .rst__rowSubtitle {
            line-height: 1em !important;
        }

        .nodeSubTitle {
            font-size: 12px;

            .nodeLabel {
                margin-right: 14px;
            }

            a {
                &:not(:last-child)::after {
                    content: '|';
                    display: inline-block;
                    padding: 0 8px 0 9px;
                }
            }
        }

        .nodeTools {
            a {
                cursor: pointer;

                &.deletelink {
                    color: $red;
                }

                .material-icons {
                    font-size: 18px;
                    line-height: 0.5;
                }
            }
        }

        @media (max-width: $tablet-width - 1) {
            margin-left: -12px;
        }
    }

    .module {
        h2 {
            font-size: 14px;
            line-height: 1em;
            margin-bottom: 10px;
            padding: 0 0 6px 0;


            >span {
                padding-right: 15px;
            }

            > a {
                font-size: 12px;
                color: $blue;
            }
        }
    }

    &__tools {
        position: relative;
        z-index: 10;

        @media (max-width: 767px) {
            max-width: 500px;
        }

        @media (min-width: 1110px) {
            width: 280px;
        }
    }

    .MenuForm {
        a {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
            color: $blue;
        }

        label {
            display: inline-block;
            width: 50px;
        }

        button {
            padding: 5px;
            margin-left: 3px;
        }

        fieldset {
            padding-top: 8px;
            margin-top: 8px;
            padding-bottom: 20px;

            &.hidden {
                display: none;
            }
        }

    }

    .MenuUnusedObjects,
    .MenuUnusedApps {
        margin-top: 30px;

        &__objects,
        &__apps {
            &__object,
            &__app {
                margin-bottom: 8px;
                display: flex;

                a {
                    cursor: pointer;
                    color: $blue;
                }

                a:first-child,
                span:first-child {
                    flex-grow: 1;
                }

                a.addlink {
                    margin-left: 10px;
                }
            }
        }
    }
}
